/* ------------ HEADER */
#title {
    font-family: 'Laila', serif;
}

/* ------------ NAV-BAR */
.navBar {
    margin: auto;
}

.navBarButtons {
    margin-left: 10px;
    margin-right: 10px
}

/* ------------ BODY */
.bodyDiv {
    background: #f0f0f0;
    text-align: center;
}

.bodyHeading {
    padding-top: 2%;
    font-family: 'Dosis', sans-serif;
}

.bodyDivIn {
    padding-top: 2%;
    padding-bottom: 10%;
}

/* about */
.aboutContent {
    padding: 2% 5% 2% 5%;
}
.contentLeft {
    float: left;
    /* overflow: hidden; */
}

.aboutImg {
    height: 250px;
    /* width: ; */
}

/* resume */
.resumeSkillsBody {
    background: #f0f0f0;
}

.resumeHeading {
    padding: 2% 4% 0 4%;
    font-family: 'Dosis', sans-serif;
}

.resumeSubHeading {
    font-family: 'Dosis', sans-serif;
}

.resumeSkillsBodyIn {
    padding: 0 4% 4% 20%;
}

.resumeWorkBody {
    background: #e6e6e6;
}

.resumeWorkBodyIn {
    padding: 0 4% 4% 20%;
}

.resumeEducationBody {
    background: #f0f0f0;
}

.resumeEducationBodyIn {
    padding: 0 4% 4% 20%;
}

.resumeBtnContent {
    text-align: center;
}

.resumeBtnInner {
    display: inline-block;
}

.resumeRow:after {
    content: "";
    display: table;
    clear: both;
}

.resumeColumn {
    float: left;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
}

/* projects */
.webProjectsDiv {
    padding-top: 0%;
    padding-bottom: 2%;
}

.otherProjectsDiv {
    padding-bottom: 2%;
}

.projectLink {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .5%;
}

.githubBtn {
    margin-bottom: 2%;
}

/* contact */
.contactMeBody {
    background: #f0f0f0;
    margin: 2% 10% 0% 10%;
    padding: 0;
}

.contactMeHeading {
    font-family: 'Signika Negative', sans-serif;
    margin: 0 0 2% 0 !important;
}

.contactMeSection {
    margin: 0 5%;
}

/* ------------ FOOTER */
.footerNav {
    padding-bottom: 5%;
    margin: auto;
}

.socialMedia {
    color: white;
    margin: auto;
}